/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.*/

footer {
    text-align: center;
    background-color: #222222;
    position: absolute;
    bottom: 0;
    right: 0;
}

#ansBox {
    text-align: center;
    font-size: xx-large;
    background-color: #222222;
    margin-top: 30vh;
    color: white;
    border-bottom: 1px solid #cccccc;
    border-right: none;
    border-left: none;
    border-top: none;
}

#body {
    background-color: #222222;
}

#to_Setting {
    position: absolute;
    right: 0;
    margin: 1vw;
    background-color: lime;
}

.flick-keys-pushed {
    display: none;
}

.suggest-img {
    display: none;
    margin-top: 5vh;
}

#showFormulaLog {
    height: 1.5em;
    width: auto;
    margin-top: 4vw;
    margin-left: 4vw;
}

#backToCalc {
    height: 1.5em;
    width: auto;
    margin-top: 4vw;
    margin-left: 4vw;
    display: none;
}

.logArea {
    display: none;
}

.log-text {
    color: white;
    border: solid 1px white;
}

#setting_btn {
    height: 1.5em;
    width: auto;
    margin-top: 3vw;
    margin-right: 3vw;
}